:root{
    --bubble-size: calc(8vw + 100px);
    --logo-size: calc(8vw + 40px);
    --grow-size: 4vw;
}

.bubbleContainer {
    display: flex;
    position: absolute;
    z-index: 10;

    height: var(--bubble-size);
    width: auto;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}

.contactBubble {
    transition: all 0.4s ease;

    height: calc(var(--bubble-size));
    width: auto;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: radial-gradient(var(--start-bt-bg-color),  rgb(0, 0, 0));
    border-radius: 100%;
}


.logo {
    transition: all 0.4s ease;
    height: var(--logo-size);
    width: auto;
    aspect-ratio: 1;
}

.contactBubble:hover {
    transition: all 0.4s ease;
    height: calc(var(--bubble-size) + var(--grow-size));
    .logo {
        transition: all 0.4s ease;
        /* height: 16vh; */
        height: var(--bubble-size);
    }
   
}

#linkedInCheckBox, #githubCheckBox, #emailCheckBox {
    display: none;
}


#githubCheckBox:checked + label > #githubBubble,  
#linkedInCheckBox:checked + label > #linkedInBubble,
#emailCheckBox:checked + label > #emailBubble {
    transition: all 2s ease;
    background: radial-gradient(rgb(182, 122, 228), rgb(122, 35, 194), rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0));
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    z-index: 11;
}


#linkedInBubble{
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}
.linkedInBubbleAnimation {
    animation: moveLinkedInBubble 1s ease;
    
}
#githubBubble{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.githubBubbleAnimation {
    animation: moveGithubBubble 1s ease-in-out;
}
#emailBubble {
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
}
.emailBubbleAnimation  {
   
    animation: moveEmailBubble 1s ease-in-out;
}

@keyframes moveLinkedInBubble {
    0% {left: 80%}
    100% {left: 20%;
    }
}
@keyframes moveGithubBubble {
    0% {left: 20%;}
    
}
@keyframes moveEmailBubble {
    0% {left: 20%;}
    
}
@keyframes moveToMidleAndGrow {
    50% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 150vh;
        z-index: 11;
    }
}


/* Email form styling */
#emailForm, #emailSentMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;

    width: 60%;
    height: 60%;
    min-height: 500px;
    background: linear-gradient( var(--start-bt-bg-color), rgb(0, 0, 0));
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: growContainer 1s ease;
}
input, textarea {
    color: black;
    font-family: Gotu;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 2.5vh;
    min-width: 10vw;
    max-width: 50%;
    animation: growContainer 2s ease;
    padding: 2px;
    text-align: center;

    
}
textarea {
    padding: 5px;
    min-width: 100px;
    min-height: 200px;
}
label {
    font-size: 15px;
    animation: growText 2s ease;

}
#sendEmailBT{
    position: relative;

}

#emailSentConfirmationText{
    font-size: 40px;
}
@keyframes growContainer {
    0%{
        min-width: 0;
        min-height: 0;
        height: 0;
        background-color: rgb(28, 11, 121);
        /* min-height: 0; */
        /* position: absolute;
        height: calc(var(--bubble-size) - 4vh);
        width: calc(var(--bubble-size) - 4vh);;
        aspect-ratio: 1; */
        /* border-radius: 100%; */
        /* padding: 20px; */
    }
    100%{

    }
}
@keyframes growText {
    0% {
        font-size: 0;
    }
    100%{
        
    }
}