:root{
    --bubble-size: calc(10vw + 6vh);
    --logo-size: calc(6vw + 5vh);
    --grow-size: 4vw;
}

.bubbleContainer {
    display: flex;
    position: absolute;
    z-index: 10;
    height: var(--bubble-size);
    width: auto;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.contactBubble {
    transition: all 0.4s ease;
    height: var(--bubble-size);
    width: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(var(--main-color),  black);
    border-radius: 100%;
}
.logo {
    transition: all 0.4s ease;
    height: var(--logo-size);
    width: auto;
    aspect-ratio: 1;
}
.contactBubble:hover {
    transition: all 0.4s ease;
    height: calc(var(--bubble-size) + var(--grow-size));
    .logo {
        transition: all 0.4s ease;
        height: var(--bubble-size);
    }  
}

@media screen and (max-width: 500px){
   .bubbleContainer {
    height: 75px;
   }
    .contactBubble {
    height: 75px;
   }
   .logo {
    height: 60px
   }
   textarea {
    max-width: none;
    width: 300px;
   }
}

#linkedInCheckBox, #githubCheckBox, #emailCheckBox {
    display: none;
}


#githubCheckBox:checked + label > #githubBubble,  
#linkedInCheckBox:checked + label > #linkedInBubble,
#emailCheckBox:checked + label > #emailBubble {
    transition: all 2s ease;
    background: radial-gradient(var(--main-color), var(--secondary-color), var(--trinary-color),black, black);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    z-index: 11;
}


#linkedInBubble{
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}
.linkedInBubbleAnimation {
    /* animation: moveLinkedInBubble 1s ease-in-out; */
    animation: drop 1s ease-in-out reverse forwards;

}
#githubBubble{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.githubBubbleAnimation {
    /* animation: moveGithubBubble 1s ease-in-out; */
    animation: hang 0.4s, drop 1s ease-in-out reverse forwards 0.4s;

}
#emailBubble {
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    transition: all 0.1s;
}
.emailBubbleAnimation  {
    /* animation: moveEmailBubble 1s ease-in-out; */
    animation: hang 0.2s, drop 1s ease-in-out reverse 0.2s;


}

@keyframes moveLinkedInBubble {
    0% {left: 80%}
    100% {left: 20%;
    }
}
@keyframes moveGithubBubble {
    0% {left: 20%;}
}
@keyframes moveEmailBubble {
    0% {left: 20%;}
}

@keyframes hang {
    0% {
        top: -20%;
    }
    100%{
        top: -20%;
    }
}
@keyframes drop {
    /* 0%{
        top: -20%
    }
    40%{
        top: 50%;
    }
    55% {
        top: 45% 
    }
    75% {
        top: 50%
    }
    85%{
        top: 48%
    }
    100% {
        top: 50%;
    } */

    0%{
        top: 50%
    }
    15%{
        top: 48%;
    }
    25% {
        top: 50% 
    }
    45% {
        top: 45%
    }
    60%{
        top: 50%
    }
    100% {
        top: -20%;
    }
}

@keyframes moveToMidleAndGrow {
    50% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 150vh;
        z-index: 11;
    }
}


/* Email form */
#emailForm, #emailSentMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;

    width: 60%;
    height: 60%;
    min-height: 500px;
    background: linear-gradient( var(--main-color), rgb(0, 0, 0));
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: growContainer 1s ease;
}
input, textarea {
    color: black;
    font-family: Gotu;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 2.5vh;
    min-width: 10vw;
    max-width: 50%;
    animation: growContainer 2s ease;
    padding: 2px;
}
input {
    text-align: center;
}
textarea {
    padding: 5px;
    min-width: 200px;
    min-height: 200px;
}
textarea:placeholder-shown {
    text-align: center;
}
label {
    font-size: 15px;
    animation: growText 1.5s ease;

}
#emailSentConfirmationText{
    font-size: 40px;
}
@keyframes growContainer {
    0%{
        min-width: 0;
        min-height: 0;
        height: 0;
        background-color: var(--secondary-color);
    }
}
@keyframes growText {
    0% {
        font-size: 0;
    }
}

