#galleryContainer {
    position:fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0 ;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    
    justify-content: center;
    align-items: center;
}

#gallery {
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 100;
    display: flex;
    justify-content: center;
    min-width: 90vw;
    max-width: 90vw;
}
.galleryImgContainer {
    max-height: 90vh;
    height: 90vh;
    width: 90vw;
    padding: 5px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.219);
    
}

#galleryImg {
    width: 100%;
    height: 100%;
    object-fit:scale-down;


}

#prevImage, #nextImage {
    transition: all 0.5s ease;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    min-width: 70px;
    justify-content: center;
    align-items: center;
    border: none;
}

#nextImage {
    background: linear-gradient(-90deg, var(--secondary-color) , rgba(255, 255, 255, 0.5), black);
    background-size: 400% 400%;
    background-position: 100% 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#prevImage {
    background: linear-gradient(-90deg,   black, rgba(255, 255, 255, 0.5), var(--secondary-color) );
    background-size: 400% 400%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

#prevImage:hover{
    transition: all 0.4s ease;
    background-position: 100% 50%;
    font-size: 60px;

}
#nextImage:hover {
    transition: all 0.4s ease;
    background-position: 0% 50%;
    font-size: 60px;

}

