

#nav {
    transition: all 0.5s ease;
    display: flex;
    background-color: black;
    z-index: 1;
    height: 7vh;
    min-height: 80px;
    align-items: center;
    justify-content: center;
}

.button {
    transition: all 0.5s ease;

    border: none;
    min-width: 140px;
    height: 5vh;
    min-height: 50px;
    border-radius: 4px;
    font-size: var(--fontSizeNormal);
    font-weight: bold;
    background: linear-gradient(90deg, var(--main-color), white, black);
    background-size: 400% 400%;
    text-shadow: 0 1px 2px black;
    user-select: none;
    box-shadow: 0 0 15px var(--main-color);
}


@media screen and (max-width: 900px) {
    .button {
        transition: all 0.5s ease;
        font-size: 15px;
        min-width: 100px;
    }
}

@media screen and (max-width: 600px){
    .button {
        transition: all 0.5s ease;
        font-size: 11px;
        min-width: 70px;
        --fontSizeLarge: 12px;
    }
}
.button:hover {
    animation: lightstreak 0.8s forwards;
}

@keyframes lightstreak {
    0% { background-position: 0% 50%;  borderColor:var(--main-color); }
    100% { background-position: 100% 50%; color: white; border-color: black; font-size: var(--fontSizeLarge);}
}
@keyframes reverselightstreak {
    0% { background-position: 100% 50%; color: white; border-color: black; font-size: var(--fontSizeLarge);}
    100% { background-position: 0% 50%;  borderColor:var(--main-color); }
}



#themebt {
    background-color: var(--main-color);
    color: white;
    border-radius: 200px;
    width: 200px;
    margin: 1vh;
}