

#container {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    width: 20vw;
    height: auto;
    aspect-ratio: 1;
    min-width: 300px;

}

#mainProfilePicContainer{
    display: flex;
    width: 15vw;
    min-width: 200px;
    height: auto;
    aspect-ratio: 1;
    align-self: center;
    overflow: hidden;
    position:static;
    
    border-radius: 100%;
    box-shadow: 0 0 50px var(--main-color);


}
#mainProfilePicContainer:hover{
    animation: ringGlow .6s infinite ease-in-out alternate;
    animation-fill-mode: forwards;
}
@keyframes ringGlow{
   from {
    box-shadow: 0 0 50px var(--main-color);
   }
   to {
    box-shadow: 0 0 100px var(--main-color);
   }
}

#mainProfilePic{
    object-fit: cover;
    height: auto;
    width: 15vw;
    min-width: 200px;
    aspect-ratio: 1;
}

#welcomeMessageTextContainer{
   margin: 1vh; 
   text-align: center;
   font-size: 16px;
}

#welcomeText {
    font-size: 30px;
}



