
.cardContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    max-width: 100%;
    overflow: hidden;
    background: 
        linear-gradient( 90deg, black,var(--secondary-color) 10% 90%, black),
        linear-gradient(black, var(--secondary-color) 7% 93%, black);
}

.Hcontainer {
    display: flex;
}
.Vcontainer {
    display: flex;
    flex-direction: column;
    
}
.projectCard {
    position: relative;
    width: 80%;
    padding: 2vh 5vw;
}

.projectDetails{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 2;
}

.projectCardTitle {
    font-size: 2vh;
    margin: 1vh;
}
.projectDetails > h2, h3, h4, p {
    margin: 5px;
}

.projectDetails > p {
    margin-left: 20px;
    font-family: Gotu;
}

/* IMAGE BAR */
#imageBarContainer {
    display: flex;
    max-width: 80%;
    overflow: hidden;
    border-radius: 5px;
}
#imageBar {
    display: flex;
    position: relative;
    height: 33vh;
    width: auto;
}

#imageBar > img {
    display: flex;
        
}

/* Gallery */


/* SLIDESHOW */

.projectCardImgContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 33vh;
    min-height: 400px;
}
#projectImage, #backgroundImg{
    border-radius: 10px;
    height: 33vh;
    min-height: 400px;

    width: auto;
    position: absolute;
    object-fit: contain;
}
#backgroundImg {
    box-shadow: 0px 0px 1vw var(--trinary-color);
}
.fade{
    animation-name: fadeAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    z-index: 3;
}
@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}



