
.cardContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    max-width: 100%;
    overflow: hidden;
    background: 
        linear-gradient( 90deg, black,var(--secondary-color) 10% 90%, black),
        linear-gradient(black, var(--secondary-color) 7% 93%, black);
    
}



.Hcontainer {
    display: flex;
}
.Vcontainer {
    display: flex;
    flex-direction: column;
    
}
.projectCard {
    position: relative;
    width: 80%;
    padding: 2vh 5vw;
}

.projectDetails{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 2;
}

.projectCardTitle {
    font-size: 4vh;
    margin: 1vh;
}
.projectDetails > h2, h3, h4, p {
    margin: 5px;
}

.projectDetails > p {
    margin-left: 20px;
    font-family: Gotu;
}

/* MEDIA */
.mediaBar {
    max-width: 80%;
    width: 80%;
    margin: 10px 0;
    /* border: 2px solid rgba(255, 255, 255, 0.199); */
}   

.videoBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin: 5px 0px;
    padding: 1vw;
    border: 2px solid rgba(255, 255, 255, 0.199);
    border-top: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.199);
}

.videoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
    min-height: 335px;
    width: auto;
    align-items: center;
}
#videoFrame {
    width: 560px;
    height: 315px;
}

/* IMAGE BAR */
.imageBarContainer {
    display: flex;
    /* justify-content: center;
    align-items: center; */

    overflow: hidden;
    margin: 5px 0px;
    padding: 1vw;
    border: 2px solid rgba(255, 255, 255, 0.199);
    border-top: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.199);
}
.imageBar {
    display: flex;
    position: relative;
    height: 33vh;
    width: auto;
    align-items: center;
}

.imageBarImg {
    transition: all 1s ease;
    height: 30vh;
}

.imageBarImg:hover {
    height: 35vh;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--main-color);
    z-index: 4;
}