.skillSection {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 60%;
    height: 10%;
    max-height: 5%;
    overflow: hidden;
}

.skillContent {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 2vw;
    border-radius: 20px;
    background: 
    linear-gradient( 90deg, black, var(--main-light-color) 10% 90%, black),
    linear-gradient(black, var(--main-light-color)7% 93%, var(--end-bt-bg-color))
    ;
}

.techLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: moveInFromLeft 1s ease;

    min-width: 10vw;
    max-height: 10vw;

}
.techLogo {
    width: 5vw;
    height: 5vw;
}
.techLogoS {
    width: 6vw;
    aspect-ratio: 1;
}

.techLogoContainer > p{
    font-size: 1.4vw;
}

@keyframes moveInFromLeft {
    0% {
        margin-left: 1000px;
        
    }
    100%{
        margin-left: 0vw;
        

    }
}


@media screen and (max-width: 900px) {
    .techLogoContainer > p{
        font-size: 12px;
        transition: all 0.5s ease;

    }
    .skillSection{
        transition: all 0.5s ease;
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    .techLogoContainer > p{
        font-size: 10px;
        transition: all 0.5s ease;

    }
    .skillSection{
        transition: all 0.5s ease;
        width: 80%;
    }
}
